.main-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

header {
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}